.u-rm-m {
	margin: 0 !important;
}

.u-rm-ml {
	margin-left: 0 !important;
}

.u-m-sm {
	margin: 24px;
}

.u-mt-md {
	margin-top: 26px !important;
}

.u-mt-lg {
	margin-top: 30px !important;
}

.u-mb-lg {
	margin-bottom: 26px !important;
}

.u-mb-xlg {
	margin-bottom: 40px !important;
}

.u-rm-mb {
	margin-bottom: 0 !important;
}

.u-rm-mt {
	margin-top: 0 !important;
}
